/* Incluso nel template Bootstrap  */
.bd-placeholder-img {
	font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
   .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* CSS INSERITO DA ME */

body {
   font-family: Tahoma;
}

h1 {
   font-weight: 400;
   font-size: 2.6em;
   color: white;
   text-shadow:
      -1px -1px 0 #023047;
}

/* laboratorio e contatti navbar */
#navbar {
   margin-top: 10px;
}

/* attributi p dentro a dentro li */
li a p {
   font-size: 21px;
   line-height: 35px;
   letter-spacing: 0.026em;
   font-weight: 600;
   font-style: normal;
}

/* mappa */
#mappa {
   background-image: url("../images/Mappa.jpg");
}

/* prima slide */
#firstImage {
   background-image: url("../images/banco_lavoro_big.webp");
   background-color: #cccccc;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 90% 10%;
   filter: blur(2.5px);

}

header {
   border-bottom-width: 2px;
}

body {
   background-color: #219EBC;
   padding-top: 10px;
   padding-bottom: 5px;

}

/* colore scritte */
.colorato  { 
   color: #023047;
}

.nav-pills .nav-link.active { /* bordo del bottone home */
   background-color: #FFB703;
   color: #22577a;
}

#titolo { 
   color: #22577a;
   font-weight: 400;
   letter-spacing: 0.021em;
   line-height: 0;
   font-size: 50px;
   font-family: 'Fjalla One';
}

/* Logo iniziale nella navbar */
#logoImg {
   height: 56px;
   width: 280px;
}

/* per forzare il colore */
.footer-colorato {
   --bs-text-opacity: 1;
   color: #023047;
}